.dockerignore
.docker-compose.yaml

# Стандартные игноры Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Файлы разработки и настройки
.git/
.github/
.gitignore/
.pre-commit-config.yaml
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
*.swp
*.swo
pyproject.toml
tests/
Dockerfile

# Логи и базы данных
*.log
*.sqlite
*.sqlite3

# Файлы зависимостей и сборки
build/
dist/
*.egg-info/
*.egg
.tox/
.nox/
.coverage
htmlcov/

# Конфигурационные файлы
.env
.env.local
docker-compose.local.yaml

# Документация
docs/_build/
site/
README.md
*.md
LICENSE.txt
